* {
	padding: 0;
	margin: 0;
	box-model: box-sizing;
}

body	{
	 font-family: 'Ubuntu', sans-serif;
	 background-image: url("../images/bg.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 color: #fff;
	 text-align: center;
}

nav	{
	background-color: transparent;
	color: #fff;
	margin: 3% 4% 7%; 
}

#main 	{
	padding: 0 7%;
}

#main h1	{
	font-size: 4rem;
}

.btn	{
	color: #fff;
	padding: 10px 50px;
	margin-top: 5%;
	margin-bottom: 14%;
}


@media (max-width: 720px) {

	nav	{
		background-color: transparent;
		color: #fff;
		margin: 3% 4% 14%; 
}
	#main h1	{
		font-size: 2.5rem;
}

	.btn	{
		color: #fff;
		padding: 10px 50px;
		margin-top: 5%;
		margin-bottom: 14%;
}
}

@media (max-width: 320px) {
	
	

	nav	{
		background-color: transparent;
		color: #fff;
		margin: 3% 4% 14%; 
}
	.logo	{
		width: 110px;
	}
	
	#main 	{
	padding: 0 10%;
}
	
	#main h1	{
		font-size: 2rem;
		
}

	.btn	{
		color: #fff;
		padding: 10px 2px;
		margin-right: 20px;
		margin-top: 5%;
		margin-bottom: 14%;
		text-align: center;
}
}
